.button__linear-gradient--primary {
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    $color-primary-sub 0%,
    $color-primary 50%,
    $color-primary-sub 100%
  );
  &:hover {
    background-position: right center;
    scale: 1.14;
  }
}

.button__linear-gradient--secondary {
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    $color-secondary-sub 0%,
    $color-secondary 50%,
    $color-secondary-sub 100%
  );
  &:hover {
    background-position: right center;
    scale: 1.14;
  }
}
