@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  line-height: 1.4em;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  line-height: 1.4em;
}

html.light {
  color: $color-text-dark;
  background-color: $color-white;
}

html.dark {
  color: $color-text-light;
  background-color: $color-bg-dark-primary;
}

.popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 60px;
  padding: 8px 24px;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #fcd535 0%,
    $color-primary 50%,
    #fcd535 100%
  );
  transition: 0.5s;
  &:hover {
    background-position: right center;
    scale: 1.14;
  }
}
