@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  line-height: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
}

html.light {
  color: $color-text-dark;
  background-color: $color-white;
}

html.dark {
  color: $color-text-light;
  background-color: $color-bg-dark-primary;
}

::selection {
  background: $color-secondary;
}

::-moz-selection {
  /* Code for Firefox */
  background: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
